<div class="main-login">
    <h1>Black & Yellow</h1>
    <h2>Ruby-on-rails - Login</h2>

    <div class="form">
        <label>Email : </label><input type="text" id="signInUserEmail"/>
        <br/>
        <label>Password : </label><input type="password" id="signInUserPassword"/>
        <br/>
        <button type="button" id="btn_validate_login" onclick="session()" >Validate</button>
    </div>
   <script>
     
function session () {

var baseurl = "http://localhost:3300";
// var baseurl = "https://bnyonrails.herokuapp.com"

var email = document.getElementById("signInUserEmail").value;
var pswd  = document.getElementById("signInUserPassword").value;

var formdata = new FormData();
formdata.append("email", email);
formdata.append("password", pswd);

fetch("https://bnyonrails.herokuapp.com/api/sessions" ,{
method: "POST",
mode: 'no-cors',
// headers: {
//       'Accept': 'application/json, text/plain, */*',
//     'Content-Type': 'application/json',
//   },
body: formdata
})
.then(

    function(response) {
      
       if (response.status == 0) {

          // window.location.href = baseurl + "/cars";  
          } else {
            console.log('Looks like there was a problem. Status Code: ' + response);
                        return;

          }
         

       
    }
)};
 
</script>

    <a href="/signup" class="a-signup">Sign up</a>
</div>


