<div class="main-login">
    <h1>Black & Yellow</h1>
    <h2>Ruby-on-rails - Login</h2>

    <div class="form">
        <label>Email : </label><input type="text" id="signInUserEmail"/>
        <br/>
        <label>Password : </label><input type="password" id="signInUserPassword"/>
        <br/>
        <label>Confirm : </label><input type="password" id="signInUserPassword"/>
        <br/>
        <button type="button" id="btn_validate_signup">Validate</button>
    </div>
    <a href="/">Back</a>
</div>