<div class="main-login">
    <h1>Black & Yellow</h1>
    <h2>Ruby-on-rails - Login</h2>

    <div class="form">
        <label>Email : </label><input type="text" id="signInUserEmail"/>
        <br/>
        <label>Password : </label><input type="password" id="signInUserPassword"/>
        <br/>

 <label>Confirm : </label><input type="password" id="signInUserPassword2"/>
        <br/> 

        <button type="button" id="btn_validate_signup" onclick="session()" >Validate</button>
    </div>
    <script>
    
    

// var login = document.getElementById("btn_validate_login");

// console.log(email)
// console.log(pswd)

// login.addEventListener("onclick" , session);

function session () {




var email = document.getElementById("signInUserEmail").value;
var pswd  = document.getElementById("signInUserPassword").value;
var pswd2  = document.getElementById("signInUserPassword2").value;
console.log(email);

const user = { email: email, password: pswd };

var formdata = new FormData();
formdata.append("user[email]", email);
formdata.append("user[password]", pswd);

fetch("https://bnyonrails.herokuapp.com/api/registrations" ,{
method: "POST",
mode: 'no-cors',
// headers: {
//       'Accept': 'application/json, text/plain, */*',
//     'Content-Type': 'application/json',
//   },
body: formdata
})
.then(
    function(response) {

          if (response.status !== 0) {
                // window.location.href = baseurl + "/cars";  

          } else {
            console.log('Looks like there was a problem. Status Code: ' + response);
            return;

                }


    }
)

};



// 
    
    </script>
    <a href="/" class="a-user">Back</a>
</div>