<div class="main">
<h1><a href="/" class="homepage">Black & Yellow - Cars</a></h1>
    <div class="content">
        <section class="item-detail">
            <div>Brand : <input class="create-input" type="text"/></div>
            <div>Model : <input class="create-input" type="text"/></div>
            <div>Year : <input class="create-input" type="text"/></div>
            <a id="onclick-create-validation" href="#" class="a-button-el">Validate</a>
        </section>
    </div>
    <a href="/cars/<%= params[:id] %>" class="a-user">Back</a>
</div>