<div class="main">
<h1><a href="/" class="homepage">Black & Yellow - Cars</a></h1>
<br />
<div>
    <form>
        <label>ID : </label><input type="number" id="" />
        <label>Brand : </label><input type="text" id="" />
        <label>Model : </label><input type="text" id="" />
        <label>Year : </label><input type="number" id="" />
        <label>Created at : </label><input type="date" id="" />
        <label>Updated at : </label><input type="date" id="" />
        <label>Rate at : </label><input type="number" id="" />
        <label>Avis at : </label><input type="text" id="" />
    </form>
</div>
    <div class="content" id="result">

    </div>
    <a href="#" onclick="next()" class="next">Next</a>
    <a href="/cars/create" class="a-new-el">+</a>
</div>